.about-section h2 {
  line-height: 1.3;
}

.about-section img {
  transition: transform 0.4s ease;
}

.about-section img:hover {
  transform: scale(1.03);
}


.about-section video {
  transition: transform 0.4s ease;
}

.about-section video:hover {
  transform: scale(1.03);
}



.reviews-section img {
  border: 4px solid #fff;
}

.text-brand {
  color: #007bff !important;
}

.stars i {
  margin: 0 2px;
  font-size: 1.1rem;
}

@media (max-width: 767px) {
  .about-section h2 {
    font-size: 1.6rem;
  }
}
